body {
    width: max(100vw,1512px);
    height: max(100vh, 700px);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", 
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
    display: flex;
}

.svg {
    height: 30px;
    width: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
    z-index: 999; /* Ensure the overlay is on top of other content */
    display: none; /* Initially hidden */
}

.sidebar {
    background-color: rgb(249, 246, 243);
    height: max(100%, 700px);
    /* width: max(20%,300px); */
    width: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    box-sizing: border-box;
    gap: 20px;
}

.content {
    width: max(1262px, 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.tasks-projects-left {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.num {
    font-size: 15px;
}

/* Header  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: rgb(81, 81, 81);
}

/* Tasks sidebar div */
.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Add task button */
.add-task-btn {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: none;
    background-color: rgb(249, 246, 243);
    gap: 5px;
    padding-left: 1px;
}

.add-task-btn:active {
    transform: translateY(2px); 
    box-shadow: none; 
}

.add-task-btn:hover {
    color: red;
}

.add-task-btn img {
    width: 40px;
    height: 40px;
}


/* All tasks button */
.all-tasks-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-style: none;
    background-color: rgb(249, 246, 243);
}

.all-tasks-btn:hover {
    background-color: rgb(239, 225, 211);
}

/* Today button */
.today-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-style: none;
    background-color: rgb(249, 246, 243);
}

.today-btn:hover {
    background-color: rgb(239, 225, 211);
}

/* Overdue button */
.overdue-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-style: none;
    background-color: rgb(249, 246, 243);
}

.overdue-btn:hover {
    background-color: rgb(239, 225, 211);
}

/* Projects */
.projects-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title-projects {
    font-weight: bold;
    margin-bottom: 15px;
}


.website-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-style: none;
    background-color: rgb(249, 246, 243);
}

.website-btn:hover {
    background-color: rgb(239, 225, 211);
}

.video-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-style: none;
    background-color: rgb(249, 246, 243);
}

.video-btn:hover {
    background-color: rgb(239, 225, 211);
}

.project-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-style: none;
    background-color: rgb(249, 246, 243);
}

.project-btn:hover {
    background-color: rgb(239, 225, 211);
}

/* create new project button */
.new-project {
    background-color: rgb(249, 246, 243);
    border-style: none;
}

.new-project:hover {
    color: red;
}

.new-project:active {
    transform: translateY(2px);
    box-shadow: none; 
}


/* All tasks container */

.all-task-container {
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* EACH TASK DESIGN */
.task {
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: 1px solid lightgrey;
}

.check-box-container {
    width: 30px; 
    padding-top: 12px;
    /* background-color: green; */
}

.round {
    position: relative;
}

.round label {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    left: 0;
    top: 0;
    position: absolute;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 6px;
    top: 8px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}


/* *************************************************** */
.task-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px 10px;
}

.task-heading {
    font-weight: bold;
    font-size: 20px;
}

.task-notes {
    font-size: 15px;
}

.task-duedate {
    border-right: 1px solid black;
    padding-right: 10px;
}

.date-project {
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: red;
}

/* *************************************************** */

.display-mode {
    width: 100%;
    height: 200px;
}

.content-container {
    border-bottom: 2px solid black;
    height: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
}


/* Add button dialog form */
.add-task-dialog {
    position: fixed;
    width: 350px;
    height: 450px;
    border-style: none;
    border-radius: 20px;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0px;
}

.add-task-form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
}

form input, select, textarea {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
}

form #notes {
    height: 40px;
    vertical-align: top; 
    resize: none; 
    overflow-y: auto; 
}

form select {
    width: 317px;
}

.form-buttons {
    display: flex;
    gap: 10px;
}

.form-buttons button {
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
}

.form-buttons button:active {
    transform: translateY(2px); 
    box-shadow: none; 
}

.form-buttons button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-buttons .cancel-task {
    background-color: #ccc;
}

.form-buttons .save-task {
    background-color: rgb(0, 180, 0);
}


/* CREATE NEW PROJECT DIALOG  */
.add-new-project {
    position: fixed;
    width: 350px;
    height: 200px;
    border-style: none;
    border-radius: 20px;
}

.add-project-form {
    display: flex;
    flex-direction: column;
}

.form-buttons .cancel-project {
    background-color: #ccc;
}

.form-buttons .save-project {
    background-color: rgb(0, 180, 0);
}






